.messageText {
    float: left;
    padding-left: 20px;
    width: 400px;
    text-align: left;
}
.sumText {
    text-align: right;
    width: 50px;
}
.money {
    padding-left: 5px;
}
.close {
    border: none;
    background: #fff;
    float: right;
    font-size: 20px;
    padding: 0 10px 0 0;
}
.add {
    display: block;
    margin-top: 25px;
    font-size: 20px;
}
.added {
    display: none;
}