.financeForm {
    width: 600px;
    margin: 20px auto;
}
.message {
    width: 400px;
    padding: 5px;
    border-radius: 5px;
}
.sum {
    width: 50px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}
span {
    padding-left: 5px;
}
.button {
    margin-left: 20px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
}