.financeItem {
    width: 577px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #90948a;
    border-radius: 5px;
    height: 300px;
    position: relative;
}
.totalPriceHide {
    display: none;
}
.totalPrice {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 43%;
}
.total {
    margin: 0;
}
